* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #171717;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.import {
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    font-family: monospace;
    background-color: #222;
    color: #ccc;
    border-radius: 0.25rem;
    outline: #444 solid 2px;
    text-align: center;
}

.import span {
    display: flex;
}

code {
    color: #fff;
    background-color: #333;
    border-radius: 0.35rem;
    margin-inline: 0.5rem;
    padding-inline: 0.15rem;
}

.import purple  {
    color: #9b8cda;
}

.import blue {
    color: #6488bd;
}

.import yellow {
    color: #d9bf73;
}

.import green {
    color: #98c379;
}

.import gray {
    color: #676e7b;
}

.sm {
    display: none;
}

.lg {
    display: block;
}

@media only screen and (max-width: 800px) {
    .sm {
        display: block;
    }
    .lg {
        display: none;
    }
}
